/*Add american flag background image with light color div*/

* {
  margin: 0;
}

.login_container {
  /*background-color: white;*/
  height: 100vh;
  width: 100vw;
  background-color: #E8E8E8;
  color: #333A56
}

.login_container a {
  text-decoration: none;
}

.login-flex-parent {
  text-align: center;
  position: relative;
  top: 30%;
}

.login_container h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 7em;
  position: relative;
  top: 10%;
  margin: 0 auto;
  text-align: center;
}

.login_container h1:hover {
  text-decoration: underline;
}

.log-in input {
  margin: 10px;
  height: 3em;
  text-align: center;
  font-size: 15px;
  border: none;
}

.login-flex-parent button {
  margin: 10px;
  height: 2.5em;
  width: 70px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  /*background-color: lightblue;*/
}

.login-flex-parent button:hover {
  transform: scale(1.3);
   -ms-transform: scale(1.3);
   -webkit-transform: scale(1.3);
   -moz-transform: scale(1.3);
   -o-transform: scale(1.3);
}
