.nav-header {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2em;
  position: fixed;
  top: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  /*background-color: #52658F;*/
  z-index: 1;
  color: #AF473C;
  height: 90px;
}

.nav-header h1 {
  position: relative;
  top: 20px;
}
